on:
  workflow_dispatch:
  schedule:
  - cron: '0 */3 * * *'
name: Excavator
jobs:
  excavate:
    name: Excavate
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@main
    - name: Excavate
      uses: shovel-org/GithubActions@new.new
      env:
        GITH_EMAIL: 1833708553@qq.com
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SKIP_UPDATED: '1'
        TERM: xterm-256color
